* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    width: 100vw;
    height: 100vh;
}
body {
   width: 100%;
   height: 100%;
   
}

header {
   height: 10%;
   width: 100%;
    
}
header > section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* padding: 0% 10% 0% 0%; */
    
}
header > section > div.logo,
header > section > div.pesquisa,
header > section > div.titulo  {
    display: flex;
    align-items: center;
    justify-content: center;
}

header > section div:nth-child(1),
header > section div:nth-child(2) {
    order: -1;
}

header > section div:nth-child(3) {
    order: 1;
    margin-inline-start: auto;
}

/* header > section > div.pesquisa{
    
} */

main{
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main > section > div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main > section > div.card > figure.status > img {
    max-width: 50px;
    max-height: 50px;
}



aside{
   
}

footer{
}