body {
    background-color: blue;
    display: grid;
    grid:
    "header header header header"
    "main main main aside"
    "main main main aside"
    "main main main aside"
    "footer footer footer footer";

    grid-template-columns: 28.33% 28.33% 28.33% 15% ;
    grid-template-rows: 10% 20% 20% 20% 30%;
    height: 100vh;
    width: 100vw;
    gap: 2.5%;
}

header {
    grid-area: header;
    
}
header > section {
    
}

main{
    grid-area: main;

}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}